html,
body {
    scroll-behavior: smooth;
    font-size: 100%;
    font-family: $theme-font !important;
}

body {
    overflow-x: hidden;
}

.section-common {
    padding-left: rem(70);
    padding-right: rem(70);
}

body,
input,
select,
textarea,
button,
a {
    user-select: auto;
    font-family: $theme-font !important;
    font-weight: 400;
}

p,
address {
    font-size: .75rem;
    line-height: 1.25rem;
}

h1 {
    font-size: 32px;
}

// h2 {
//     font-size: 35px;
// }

// h2,
// h3 {
//     position: relative;
// }

// h3 {
//     font-size: 30px;
// }

// h4 {
//     font-size: 18px;
// }

.container {
    max-width: 968px !important;
}