html,
body {
    background-color: $blue;
    color: $white;
    font-size: 100%;
    font-family: $theme-font !important;
}

body {
    overflow-x: hidden;
}

.section-common {
    padding-left: rem(70);
    padding-right: rem(70);
}

body,
input,
select,
textarea, 
button,
a {
    user-select: auto;
    font-family: $theme-font !important;
    font-weight: 400;
}

p,
address {
    font-family: $secondary-font !important;
    font-size: .75rem;
    line-height: 1.25rem;
}

h1 {
    font-size: 70px;
    color: $white;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    text-transform: uppercase;
}

h2,
h3 {
    position: relative;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}