$white: #fff;
$black:#000;
$blue: #3C3C3B;
$blue2: #130441;
$blue3: #6E6599;
$blue-light: #5797CE;
$green: #9EC85C;
$green2: #94C24A;
$green3: #00A000;
$pink: #DE7BA7;
$orange: #FFBA64;
$gray: #AAAAAA;
$gray2: #BFBFBF;
$gray3: #D8D8D8;
$theme-font: 'Montserrat', sans-serif;