/* large screens*/

@media only screen and (max-width: 1220px) {
    header {
        .form-buttons {
            li {
                &:first-child {
                    padding-right: rem(20);
                }
                &:last-child {
                    padding-left: rem(20);
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    header {
        .form-buttons {
            li {
                &:first-child {
                    padding-right: rem(20);
                }
                &:last-child {
                    padding-left: rem(20);
                }
            }
        }
    }
    nav.bg-dark {
        .navbar-nav {
            .nav-link {
                padding: 0 1.15rem;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    nav.bg-dark {
        .navbar-collapse {
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            background: rgba(24, 24, 39, .9);
            display: flex;
            visibility: hidden;
            top: 0;
            &.show {
                visibility: visible;
                height: 100vh;
            }
        }
        .navbar-nav {
            height: 100%;
            padding-top: 50px;
            .nav-item {
                padding-top: 30px;
            }
        }
        .nav-container {
            flex: 70%;
            width: 70%;
            flex-direction: row-reverse;
        }
        .form-buttons {
            width: calc(100% - 60px);
            justify-content: flex-end;
            margin-right: 50px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .section-common {
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
        &.hero {
            height: 100vh;
            padding-top: 0;
        }
        &.game-currency {
            margin-top: 0;
        }
    }
    .dots {
        display: none;
    }
    .hero {
        .hero-banner-img {
            max-width: 100%;
            height: auto;
        }
        .btn.custom1-outline {
            margin-top: 0;
        }
    }
    nav.bg-dark {
        padding-left: 20px;
        padding-right: 20px;
        .navbar-brand {
            p {
                display: none;
            }
        }
    }
    header .form-buttons li {
        font-size: 14px;
    }
    .btn.custom1-outline {
        font-size: 14px;
        padding: 16px 49px 14px 45px;
    }
    .slider,
    .game-currency-container,
    .welcome-common,
    .latest-updates {
        padding-top: 55px !important;
        &.unique {
            display: flex;
            flex-direction: column-reverse;
        }
        .game-currency-info h3,
        h3 {
            font-size: 20px;
        }
        .header-info-container {
            padding-top: 0;
            justify-content: space-between;
            img {
                max-width: 72px;
            }
        }
        .game-currency-info p,
        p {
            font-size: 14px;
        }
        .building,
        .building2,
        .hex-shield-img {
            margin-top: 35px;
            display: flex;
            justify-content: center;
        }
        img:not(.img-bg) {
            max-height: 307px;
        }
    }
    .game-currency-container {
        padding-bottom: 5px;
    }
    .slider {
        h3 {
            margin-bottom: 0;
        }
        .multiple-items .card {
            .card-title {
                font-size: 18px;
            }
            .card-text {
                font-size: 14px;
            }
        }
    }
    .latest-updates {
        &-container .col-sm-12:first-of-type {
            margin-bottom: 50px;
        }
        &-header {
            font-size: 20px;
            margin-bottom: 45px;
            padding-top: 0 !important;
        }
        .medium-updates,
        .twitter-updates {
            h3 {
                font-size: 18px;
            }
            .btn.custom1-outline {
                font-size: 15px;
                padding: 15px 39px 16px 29px;
            }
        }
        #medium-widget {
            .medium-widget-article__row {
                margin-top: 50px;
            }
            .medium-widget-article__column {
                a {
                    max-height: 168px;
                    overflow: hidden;
                    margin-bottom: 32px;
                }
            }
            .medium-widget-article__content a {
                font-size: 16px;
                margin-bottom: 0;
            }
            .medium-widget-article__description {
                width: calc(100% - 1em);
                font-size: 14px;
                top: 0;
                margin-top: 0;
            }
        }
    }
    footer {
        padding-top: 50px;
        p {
            font-size: 14px;
        }
        .links {
            p {
                font-size: 16px;
                margin-bottom: 22px;
            }
        }
        .mobile {
            align-items: flex-start;
            margin-top: 45px;
        }
        .footer-logo,
        .copy-rights {
            width: 50%;
        }
        hr {
            margin-bottom: 19px;
        }
        .footer-logo {
            a {
                img {
                    display: block;
                    max-width: 37px;
                }
                span {
                    display: none;
                }
            }
        }
        .copy-rights p {
            font-size: 12px;
            line-height: 1.6;
        }
    }
}