.btn {
    padding: 10px 29.1px;
    line-height: 1.3em;
    font-weight: 600;
    display: inline-block;
    font-size: 10px;
    border-radius: 0;
   
  &.btn-blue {
    background: $blue-light;
    color: $white;
  }

  &.btn-white {
    background: $white;
    color: $blue;
  }

  &.btn-outline-white {
    background: transparent;
    border: 1px solid $white;
    color: $white;
  }

  &.btn-green {
    background: $green2;
    color: $white;
  }

  &.btn-dark-green {
    background: $green3;
    color: $white;
  }

  &:hover,
    &:focus {
        outline: 0 none; 
        box-shadow: none;
    }
}
