.dots {
    position: relative;
    display: none;
    img {
        position: absolute;
        left: -2px;
        right: 0;
        z-index: 2;
        max-height: 276px;
        margin: 0 auto;
    }
    &-2 {
        img {
            height: 171px;
            top: -120px;
            left: 10%;
        }
    }
    &-3 {
        img {
            right: -10px;
            left: auto;
        }
    }
    &-4 {
        img {
            top: -204px;
        }
    }
    &-5 {
        position: absolute;
        height: 100%;
        width: 100%;
        img {
            width: 100%;
            max-height: 100%;
            top: -99px;
            left: -24%;
        }
    }
    &-6 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        img {
            max-height: 100%;
            width: 100%;
            top: 0;
            left: -53px;
        }
    }
}