nav.navbar {
  background: $blue2;
  padding: 0;

  .nav-item {
    .nav-link {
      font-size: 10px;
      color: white;
      line-height: 1.3em;
      padding: 13.5px 10px;
      font-weight: 600;
      text-transform: capitalize;

      &:first-child {
          padding-left: 0;
      }
    }
  }

  .nav-social {
      li:not(:last-child) {
        margin-right: 7px;
      }
  }
}
