nav.bg-light {
    background-color: rgba($black, .27)!important;
    padding-left: rem(70);
    padding-right: rem(70);
    .navbar-brand {
        letter-spacing: .05em;
        line-height: 3.5;
        font-size: 20px;
        text-shadow: 0px 1px $black;
        &:hover {
            color: rgba($white, .7);
        }
    }
    .navbar-brand,
    .navbar-nav .nav-link {
        color: $white;
        font-size: 16px;
        font-weight: 900;
    }
    .navbar-nav {
        .nav-item {
            list-style: none;
        }
        .nav-link {
            text-shadow: 0px 1px $black;
            padding: 0 rem(25);
            &:hover {
                color: rgba($white, .7);
            }
        }
        .active>.nav-link,
        .nav-link.active,
        .nav-link.show,
        .show>.nav-link {
            color: rgba($white, .7);
        }
    }
}