/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
    background: $themeColor-Light;
    user-select: none;
    font-family: 'Alegreya SC', serif !important;
    ul li {
        list-style: none;
    }
}

main {
    h1 {
        font-family: 'Alegreya SC', !important;
        font-size: 200px;
    }
}


/* HEADER */

// header {}

/* FOOTER */

// footer {}