footer {
    margin-top: 50px;
    padding-top: 77px;
    background: $blue2;

    .footer-item {
        max-width: 220px;

        &:not(:last-child) {
            margin-right: 19px;
        }
    }

    .footer-logo {
        margin-bottom: 10px;

        a {
            max-width: 63px;
        }
    }

    p, address, .sitemap-list a {
        line-height: 1.3em;
        color: $white;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .sitemap-list {
        li {
            line-height: 1;
        }

        a {
            margin-bottom: 0;
        }
    }

    h6 {
        font-size: 12px;
        color: white;
        line-height: 1.25em;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .nav-social {
        li a {
            display: inline-block;
            margin-right: 7px;
        }
    }

    .form-input {
        font-size: 10px;
        font-weight: 600;
        color: $gray2;
        padding: 12px 20px 10px 20px;

        &:focus,
        &:active {
            outline: 0 none;
            box-shadow: none;            
        }


        @include form-placeholder {
            font-size: 10px;
            font-weight: 600;
            color: $gray2;
        }
    }

    .copyright {
        margin-top: 68px;
        min-height: 135px;
        border-top: 1px solid rgba($gray3, .2);

        p {
            padding-top: 26px;
            padding-bottom: 28px;
            margin-bottom: 0;
        }
    }
}

.exit-container {
    margin-top: 100px;

    .btn-container {
        box-shadow: 3px 2px 20px 14px rgba($black, .1);
    }

    .btn-dark-green {
        margin: 3px;
    }
}

// .exit-container {}