header {
    z-index: 10;
    position: relative;
    .form-buttons {
        display: flex;
        justify-content: space-around;
        li {
            font-size: 16px;
            font-weight: 900;
            line-height: 3.5;
            text-shadow: 0px 1px $black;
            &:first-child {
                padding-right: rem(45);
            }
            &:last-child {
                padding-left: rem(45);
            }
        }
    }
}