header {
    z-index: 10;
    position: relative;
    .container {
        max-width: 1600px;
        margin: 0 auto;
    }
    .form-buttons {
        display: flex;
        justify-content: space-around;
        li {
            font-size: 16px;
            font-weight: 900;
            line-height: 3.5;
            text-shadow: 0px 1px $black;

            a {
                font-size: inherit;
                color: inherit;
                font-family: inherit !important;
                font-weight: inherit;
                text-decoration: none;
            }
            
            &:first-child {
                padding-right: rem(45);
            }
            &:last-child {
                padding-left: rem(45);
            }
        }
    }
}