.hero {
    background-image: url('/images/hero-bg3.png');
    background-position: center center;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 319px;

    &::before {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($black, .2);
        content: '';
    }

    .hero-info {
        background-color: rgba(#D8D8D8, .25);
        padding: 26px 42px;
        max-width: 535px;

        p { 
            font-size: 12px;
            font-weight: 700;
            line-height: 1.25;
            color: $white;
            margin-bottom: 14px;
        }

        h1 {
            color: $white;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.06;
            max-width: 451px;
            text-transform: unset;
            margin-bottom: 13px;
        }
    }
}