.hero {
    background-image: url("/images/hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -96px;
    padding-top: 96px;
}