.img-bg {
  position: relative;
  overflow: hidden;  

  & .img-floated {
    // content: "";
    // display: block;
    // background-image: url(/images/dots.svg);
    // padding-left: 4.375rem;
    // padding-right: 4.375rem;
    // height: 100%;
    // position: absolute;
    // z-index: 1;
    // height: 100%;
    // width: 100%;
    // background-repeat: no-repeat;

    display: block;
    background-image: url(/images/dots.svg);
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 698px;
    background-repeat: no-repeat;
  }
}
