.latest-updates {
    position: relative;
    padding-bottom: 65px;
    padding-top: 161px;
    &-header {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 45px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: .05em;
        margin-bottom: 107px;
    }
    &-container {
        position: relative;
        z-index: 2;
    }
    .twitter-updates,
    .medium-updates {
        h3 {
            font-size: 30px;
            font-weight: 900;
            line-height: 1.8;
            letter-spacing: .05em;
        }
        p {
            font-size: 20px;
            font-weight: 500;
            letter-spacing: .05em;
            line-height: 1.75;
            span {
                color: $blue-lighter;
            }
        }
        .btn.custom1-outline {
            font-size: 20px;
            padding: 18px 27px;
            a {
                color: $white;
                text-decoration: none;
                &:hover {
                    color: hsla(0, 0%, 100%, .7);
                }
            }
        }
    }
    .twitter-updates-container,
    .medium-updates-container {
        margin-top: 55px;
        img {
            margin-bottom: 20px;
        }
    }
    .medium-updates-container p span,
    .update-sm-i span {
        margin-left: 15px;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: .05em;
        color: #73718A;
        font-family: poppins;
        font-weight: 400;
        position: relative;
        top: 4px;
    }
    .medium-updates-container p span {
        margin-left: 0;
    }
    #medium-widget {
        .medium-widget-article__row {
            margin-top: 38px;
            &:last-child {
                margin-top: 52px;
            }
        }
        .medium-widget-article__content a {
            color: white;
            text-decoration: none;
            font-size: 21px;
            font-family: 'Poppins' !important;
            letter-spacing: .05em;
            font-weight: 500;
            line-height: 1.4;
        }
        .medium-widget-article__description {
            @include multiLineEllipsis($lineHeight: 1.8em, $lineCount: 2, $bgColor: $blue);
            font-size: 16px;
            color: #73718A;
            font-family: poppins;
            font-weight: 400;
            position: relative;
            top: 4px;
        }
        .medium-widget-article__author {
            margin-top: 30px;
            &-name {
                font-size: 16px;
                line-height: 1.8;
                letter-spacing: 0.05em;
                color: rgb(115, 113, 138);
                font-family: Poppins;
                font-weight: 400;
            }
        }
        .medium-widget-article {
            &__like,
            &__clap,
            &__date {
                display: none;
            }
        }
    }
}