.welcome {
    position: relative;
    overflow: hidden;
}

.welcome-common {
    position: inherit;
    padding-top: rem(155);
    max-width: 1600px;
    margin: 0 auto;
    z-index: 1;
    .header-info-container {
        padding-top: rem(15);
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(40);
        img {
            max-width: 168px;
        }
    }
    h3 {
        font-size: 46px;
        line-height: 1.3;
        letter-spacing: .05em;
        font-weight: 900;
    }
    p {
        color: $blue-light;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: .05em;
        line-height: 1.75;
    }
}

.welcome-container {
    img:not(.img-bg) {
        max-height: 698px;
    }
    .welcome-img-bg {
        position: absolute;
        max-height: 768px;
        left: -15.5%;
        opacity: .08;
        top: 160px;
    }
}

.unique {
    &.welcome-common {
        padding-top: 240px;
    }
    img:not(.img-bg) {
        max-height: 728px;
    }
    .unique-img-bg {
        position: absolute;
        max-height: 728px;
        top: 160px;
        right: -264px;
        opacity: .04;
    }
}